.backend-error{

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

height:70vh;

text-align:center;

color:white;

}

.backend-icon{

font-size:90px;

color:#EF4444;

margin-bottom:25px;

animation:pulse 1.5s infinite;

}

.backend-error h1{

font-size:40px;

margin-bottom:15px;

}

.backend-error p{

color:#94A3B8;

margin:6px;

font-size:17px;

}

.backend-error button{

margin-top:30px;

background:#2563EB;

border:none;

padding:15px 30px;

color:white;

font-size:16px;

font-weight:bold;

border-radius:10px;

cursor:pointer;

display:flex;

align-items:center;

gap:10px;

transition:.3s;

}

.backend-error button:hover{

background:#1D4ED8;

transform:translateY(-2px);

}

@keyframes pulse{

0%{

opacity:.5;

}

50%{

opacity:1;

}

100%{

opacity:.5;

}

}