.quick-actions{

background:#1E293B;

padding:22px;

border-radius:18px;

box-shadow:0 8px 25px rgba(0,0,0,.35);

}

.quick-actions h2{

color:white;

margin-bottom:18px;

font-size:20px;

}

.action-btn{

width:100%;

display:flex;

align-items:center;

gap:12px;

padding:14px 18px;

margin-bottom:12px;

background:#263548;

border:none;

border-radius:12px;

color:white;

font-size:15px;

cursor:pointer;

transition:.25s;

}

.action-btn:hover{

background:#3B82F6;

transform:translateY(-2px);

}

.action-btn svg{

font-size:17px;

}